.maincard {
  position: absolute;
  width: 600px;
  height: 700px;
  left: 635px;
  top: 228px;

  filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.1));

  /* Primary Colors/Tree green */

  background: var(--tree-green);
  border-radius: 16px;
}

.topbox {
  height: 100px;
  background: var(--tree-brown);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px 16px 0 0;
}

.remember {
  margin-left: 28px;
  margin-top: 14px;
  display: flex;
  align-items: center;
}
.rememberBox {
  height: 16px;
  width: 16px;
  background: var(--black-2);
}

.rememberText {
  margin-left: 4px;
  /* Caption */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  width: auto;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  /* Secondary Colors/Black 2 */

  color: var(--black-2);
}
