.topbar {
  position: fixed;
  width: 1920px;
  height: 128px;
  left: 0px;
  top: 0px;
  display: flex;

  /* Primary Colors/Tree green */

  background: #73952e;
}

.farmazon {
  margin-left: 64px;
  justify-self: center;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;
  display: flex;
  align-items: center;
  cursor: pointer;

  /* Secondary Colors/Black 2 */

  color: var(--black-2);
}

.emptydiv {
  flex: 1;
}

.contact {
  padding:25px;
  /* H4 */

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 128px;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* identical to box height */

  /* Secondary Colors/Black 2 */
  color: var(--black-2);
}

.about {
  margin-right: 100px;
  padding: 25px;

  /* H4 */

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  display: flex;
  align-items: center;
  line-height: 128px;
  cursor: pointer;
  /* identical to box height */

  /* Secondary Colors/Black 2 */

  color: var(--black-2);
}

.contact:hover {
  border-bottom: 5px solid var(--tree-brown);
}

.about:hover {
  border-bottom: 5px solid var(--tree-brown);
}