@import url("https://fonts.googleapis.com/css?family=Open+Sans:600,800");

:root {
    --primary: #16aa65;
    --secondary: #124e7f;
    --treebrown: #4b392f;
    --light: #9a9a9a;
    --white: #f7f7f7;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    background-color: #9ede73;
    font-family: "Open Sans", Helvetica;
  }
  